/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 11:14:24 PM
    Author     : WaleO
*/


#top_nav{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18pt;
}

#banner{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28pt;
}

#content{
    font-family: 'Roboto Condensed', sans-serif;   
}

a.nav{
      font-weight:bold;
}
