/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 12:08:17 AM
    Author     : WaleO
*/

#top_nav{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
