/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:46:03 PM
    Author     : WaleO
*/

#header
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;
    text-align:left;

}
#content
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;

}

#top_nav {
    position: relative;
    height: 50px;
 
    text-align:left;
    padding-top: 5px;
}

#banner 
{
    position: relative;
    height: 70px;
    text-align: center;
}

a.nav{
    
    text-align:center;
  
    padding-left:40px;
    padding-right:5px;
    padding-top:5px;
   
}

#content_box{
    height:800px;
    position: relative;
    margin: 0px auto 0px auto;
}


#text{
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

content.sbu_banner{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;

}

img.sbu_banner{
    height:400px;
    width:900px;
}


