/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 7:46:50 PM
    Author     : WaleO
*/

#top_nav{
    width: 100px; 
    height: 700px;
    border-radius: 25px;
    background-color: -o-linear-gradient(#C7ED31, white)
}

#top_nav ul li{
    list-style-type: none;  
}
#header
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;
    text-align:left;

}

img.halo{
   height:350px;
   width:400px;
}

#new_content{
    height:800px;
    position: relative;
    margin: 0px auto 0px auto;
}

#theContent
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;
    height: 800px;
}

#slide{
    height: 600px;
    width: 600px;
}

img.halo5{
    height:200px;
    width:900px;
}