/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:45:55 PM
    Author     : WaleO
*/
#header
{
    position:absolute;
    width:100%;
    text-align:left;
}

#top_nav
{
    height: 40px;
}

#newBanner{
    height:60px;
    width:60px;
    font-size: 50px;
}

#content_box{
    height:700px;
    position: relative;
    margin: 0px auto 0px auto;
}

img.sbu_banner{
    height:300px;
    width:600px;
    padding-top: 50px;
    padding-left: 225px;
}

#text{

    border-radius: 25px;
    padding-left:100px;
}

hr{
    border-width:3px;
}

#endContent{
    height:100px;
    width:60px;
    font-size: 30px;
}
