/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 12:08:32 AM
    Author     : WaleO
*/

#top_nav {
    position: relative;
    height: 30px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-align:center;
    padding-top: 5px;
}
#frame{
    margin: auto;
    alignment-adjust: middle;
}
#content_box{
    height:800px;
    width: 100%;
    position: relative;
    border-radius: 25px;
}
#header
{
    position:absolute;
    width:100%;
    text-align:left;
}

#banner{
    position:relative;
    height:50px;
    opacity: 0.75;
    filter: alpha(opacity=75); 
    text-align:center;
}

#text{
    float: left;
}

img.sbu_banner{
    height: 200px;
    width: 400;

    display: block;
    margin-left: auto;
    margin-right: auto 
}

#frame{
    padding-left:300px;
    width: 500px;
}

img.Ezio{
    height:300px;
    width:200px;
    padding-left: 30px;
}
img.Altair{
    height:300px;
    width:200px;
    padding-left: 30px;
}