/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 8:47:22 PM
    Author     : WaleO
*/



#top_nav {
    background-color: #222B3C;
}

#banner 
{
    background-color: black;
    color: blue;
}

#content_box{

    background-color:#ffffff;
}


body{
    background-color: #1c1919;
}

