/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:45:39 PM
    Author     : WaleO
*/

#top_nav {
    background-color: #5166e4;
}

#content{
    background-color: #01BA38;
}

#text{
    background-color: greenyellow;
}

hr{
    color:blue;
}

