/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 7:47:12 PM
    Author     : WaleO
*/

body{
    background-color: black;
}

h1{
    color:black;
}

p{
    color:black;
}

#theContent{
    background:white;
}