/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:45:47 PM
    Author     : WaleO
*/

body{
    background-color: yellow;
}
#top_nav {
    background-color: #DB8402;
}

#banner 
{
    background-color: #FFA500;
    color: blue;
}

#content_box{

    background-color:#ffffff;
}