/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 12:08:08 AM
    Author     : WaleO
*/
body{
 //background: -moz-linear-gradient(0deg, white, grey);
 background:white;
}
#banner{
    background-color: black;
    //#02A3D9
}

#top_nav{
    background-color: black;
}

a.nav{
    color:red;
}

#banner_space{
    background-color: black;
}

#content_box{
    background-color: #1c1919;
    
  
}

#text{
    color: white;
}